body {
	background-color: #ffcccc;
	}
header {
	list-style: none;
	}
a:link, a:visited {
  text-decoration: none;
  background-color: #80bfff;
  border: 1px solid #708090;
  color: #ffffb3;
  display: block;
  width: 280px;
  text-align: center;
  margin-bottom: 2px;
  font-size: 24px;


  }
		img {
			width: 100%;
			height: 450 px;
			}
			
		h1  {
			color: #4da6ff;
			text-align: center;
			font-family: Lucida Console;
			
			}

		h3 {
			color: black;
			text-align: center;
			background-color: #009999
			font-family: Lucida Console;
			}

		h2 {
			color: #262626;
			text-align: center;
			}

		

		p {
		color: gray;
		text-align: center;
		font-family: font-family: "Courier", Courier New, Fantasy;
		font-size: 20px;
		font-style: bold;
		}